@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
  background: #0288d1;
  font-family:'Roboto';
  font-size:16px;
  text-align:center;
}
html,body{
  margin: 0 auto;
}
.headerm {
  box-sizing:border-box;
  max-width:350px;
  width: 30%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background: #e5e5e5;
  display:flex;
  justify-content:center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0288d1;
  color: white;
}
.tooltip,.emailtip,.others {
  position: relative;
  display:table-row;
  text-align:center;
}
label{
  display:block;
  text-align:center;
}
input{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* CSS */
button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  margin: 5px 5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}
button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

button:focus {
  border-color: #4285f4;
  outline: none;
}



@media only screen and (max-width:800px) {
  /* For tablets: */
.headerm {
    width: 100%;
    font-size:1rem;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
.headerm {
    width: 100%;
    font-size:1rem;
  }
}
@media only screen and (min-width:2000px) {
  /* For TV: */
  body {
    font-size: 16px;
  }
}
